#Functionlities
  .row
    .col-md-5.bigPhonePicContainer
      #bigPhonePic.swipe
        .swipe-wrap
          for f, slug in public.sections_copy.Functionalities._data
            img(src="assets/images/#{slug}.png" srcset="assets/images/#{slug}@2x.png")
    #slider.swipe.col-xs-12.col-md-7
      .swipe-wrap.row
        for f, slug in public.sections_copy.Functionalities._data
          .functionality.col-md-12
            .row
              .col-xs-12.phonePic
                img(src="assets/images/#{slug}.png" srcset="assets/images/#{slug}@2x.png")
              .col-xs-12.icon.col-md-4
                .iconContainer
                  img(src="assets/images/#{f.icon}.svg")
              .container.col-xs-12.col-md-8
                p.title #{f.title}
                p.text #{f.text}
