#Intro.row
  .col-xs-12
    h1#Logo
      img(src="assets/images/Logo.svg")
      | PLTFRM
    .intro.row
      .col-xs-12.col-md-6.phones
        img(src="assets/images/PLTRFM_TwoPhones.png" srcset="assets/images/PLTRFM_TwoPhones@2x.png")
      .col-xs-12.col-md-6
        .content
          h2 #{public.sections_copy.Intro._data.intro.title}
          p #{public.sections_copy.Intro._data.intro.text}
          div.button(onclick="PLTFRM.Scroller.toSection(this, '#requestBetaSection')") #{public.sections_copy.Intro._data.button_text}
          
  .col-xs-12.goal
    h4.accent.center-aligned #{public.sections_copy.Intro._data.goal.title}
    p.center-aligned #{public.sections_copy.Intro._data.goal.text}
    
